
        <html>
        <head>
 <title>Fixtures | IPredictWorld</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="author" content="Ibiyo Motunrayo O. HOC"/>

<link href="../assets/bootstrap/css/bootstrap4.min.css" rel="stylesheet"/>
<link href="../assets/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="../assets/css/custom.css" rel="stylesheet"/>
<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-grid.min.css" type="text/css"/>

<script src="../assets/bootstrap/js/bootstrap4.min.js"></script>
<script src="../assets/js/jquery.min.js"></script>

</head>
<body class="container-fluid">
<nav class="navbar navbar-expand-md justify-content-center navbar-dark bg-red d-md-flex">
  
    <div class="p-2 ml-auto">
    <form class="form-inline" action="">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-lm-green">Search</span>
            </div>
            <input type="search" class="form-control" placeholder="Search" size="30"/>
            <button class="btn btn-success" type="submit">GO</button>
        </div>
        
    </form>
</div>

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
<span class="navbar-toggler-icon"></span>
</button>


<div class="p-2 ml-auto collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
         <li class="nav-item"><a href="account" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a href="subscribe" class="nav-link">Subscribe</a></li>
        <li class="nav-item"><a href="predict" class="nav-link">Predict</a></li>
        <li class="nav-item"><a href="scoreboard" class="nav-link">Prediction Table</a></li>
        <li class="nav-item"><a href="editProfile" class="nav-link">Edit Profile</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link" >Log out</a></li>

    </ul> 
</div>
</nav> 
<div class="row">
    <div class="col-12 mx-auto d-block padding-left-2">
        <img src="../assets/images/ipredict.png" alt="Logo" class="logo-img mx-auto d-block padding-left-2" />                
    </div>
    <a href='/logout' class="float-right padding-right-0 padding-top-5 padding-right-3 text-capitalize text-red font-weight-bold">Log out</a>
<a href="account" value="Go Back"></a><br/>
</div>


<div class="row ">
    <div class="col-sm-12 col-md-4 mx-auto d-block margin-bottom-1 bg-red text-white">
        <span class="btn  btn-block text-uppercase text-white text-size-20 bold"> full season  </span>
        
    </div>            
</div>



<div class="row margin-bottom-2">
    <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3y mx-auto d-block"> 
        
           <img src="../assets/images/Laliga.jpeg" width="50" height="50" /> 
            <button type="button" class="btn-block btn-purple btn-small text-uppercase "> Laliga</button>
        
            </div>         
        <div class="col-4 col-sm-4 col-md-4 mx-auto d-block">
            <a href='fixtures?league=Premier League'>
                  <img src="../assets/images/PremierLeague.jpeg" width="50" height="50"/>
            <button type="button" class="btn-block btn-purple btn-default text-uppercase "> EPL</button>
            </a>
       
             </div>
        <div class="col-4 col-sm-4 col-md-4 mx-auto d-block">
            <img src="../assets/images/ChampionsLeague.jpeg" width="50" height="50"/>
             <button type="button" class="btn-block btn-purple btn-default text-uppercase ">UCL</button>
      
            </div>
</div>

  <div class="row ">


    <div class="col-sm-12 col-md-4 mx-auto d-block margin-bottom-1 bg-red text-white">
        <span class="btn  btn-block text-uppercase text-white text-size-20 bold"> weekly  </span>
        
    </div>            
</div>



<div class="row margin-bottom-2">
    <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3y mx-auto d-block">
               <img src="../assets/images/Laliga.jpeg" width="50" height="50" /> 
            <button type="button" class="btn-block btn-purple btn-small text-uppercase "> Laliga</button>

                 </div>         
        <div class="col-4 col-sm-4 col-md-4 mx-auto d-block">
             <a href="fixtures" >
               <img src="../assets/images/PremierLeague.jpeg" width="50" height="50"/>
               <button type="button" class="btn-block btn-purple btn-default text-uppercase "> epl</button>
             
             </a>
             
           
        </div>
        <div class="col-4 col-sm-4 col-md-4 mx-auto d-block">
             
                  <img src="../assets/images/ChampionsLeague.jpeg" width="50" height="50"/>
             <button type="button" class="btn-block btn-purple btn-default text-uppercase "> UCL</button>
            
            
        </div>
</div>


</body>
</html>
